repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        files: "^backend/|^runner/"
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
        files: "^backend/|^runner/"

  - repo: https://github.com/biomejs/pre-commit
    rev: v2.3.10
    hooks:
      - id: biome-check
        files: "^frontend/"

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: [-w, --ignore-words-list=delet, "--skip=frontend/src/lib/utils/schema.d.ts,frontend/pnpm-lock.yaml,frontend/package.json" ]
