name: "CI: system & integration tests, docker build"

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - "*"
    tags:
      - "v*"
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - "*"
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

#define yaml anchors because GitHub Actions env values cannot be put into matrix expression
#yaml anchors can't be put inline of a string though, so also define env vars for images
env:
  BACKEND_IMAGE: &backend_image "ghcr.io/julianfp/project-w"
  BACKEND_DOCKERFILE: &backend_dockerfile "backend.Dockerfile"
  CRON_IMAGE: &cron_image "ghcr.io/julianfp/project-w_cron"
  CRON_DOCKERFILE: &cron_dockerfile "cron.Dockerfile"
  RUNNER_IMAGE: &runner_image "ghcr.io/julianfp/project-w_runner"
  RUNNER_DOCKERFILE: &runner_dockerfile "runner.Dockerfile"
  DUMMY_RUNNER_IMAGE: &dummy-runner_image "ghcr.io/julianfp/project-w_runner_dummy"
  DUMMY_RUNNER_DOCKERFILE: &dummy-runner_dockerfile "runner_dummy.Dockerfile"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        #test all components with the oldest and newest supported version
        postgres_version: [ "14", "17" ] #14 is minimal required version
        redis_version: [ "7.2", "8" ] #7.2 is minimal required version
        python_version: ["3.11", "3.13"] #3.11 is minimal required version

    services:
      postgres:
        image: postgres:${{ matrix.postgres_version }}
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test_db
        ports:
          - 5432:5432

      redis:
        image: redis:${{ matrix.redis_version }}
        ports:
          - 6379:6379

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        #don't cache on PR's since they don't necessarily have access to repo packages
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Project-W backend docker image
        uses: docker/build-push-action@v6
        with:
          file: *backend_dockerfile
          context: .
          tags: project-w:latest

          #pull frontend from branch with the same name as backend is currently on:
          build-args: |
            PYTHON_VERSION: ${{ matrix.python_version }}
          push: false
          load: true
          cache-from: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache
          cache-to: ${{ github.event_name != 'pull_request' && format('type=registry,ref={0}:buildcache,mode=max', env.BACKEND_IMAGE) || '' }}

      - name: Build Project-W dummy runner docker image
        uses: docker/build-push-action@v6
        with:
          file: *dummy-runner_dockerfile
          context: .
          tags: project-w_runner_dummy:latest
          push: false
          load: true
          cache-from: type=registry,ref=${{ env.DUMMY_RUNNER_IMAGE }}:buildcache
          cache-to: ${{ github.event_name != 'pull_request' && format('type=registry,ref={0}:buildcache,mode=max', env.DUMMY_RUNNER_IMAGE) || '' }}

      - name: Setup SSL certificates
        run: |
          mkdir -p ./backend-config/certs
          openssl req -x509 -newkey rsa:4096 -sha256 -nodes -keyout ./backend-config/certs/key.pem -out ./backend-config/certs/cert.pem -subj '/CN=localhost'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install test suite
        run: |
          uv sync --locked --project tests

      - name: Run test suite
        run: |
          uv run --project tests pytest --timeout=45 tests/

  docker-build:
    #don't build&push docker image on a PR
    if: ${{ github.event_name != 'pull_request' }}
    #wait until testing has finished first so that we don't push a broken build
    #also then we can take advantage of the already cached build and don't need to build the image twice
    needs: build-and-test
    strategy:
      matrix:
        os: [ "ubuntu-24.04", "ubuntu-24.04-arm" ] #run on both x86 and arm
        container: [ "backend", "cron", "runner", "dummy-runner" ]
        include:
          - container: "backend"
            image: *backend_image
            dockerfile: *backend_dockerfile
          - container: "cron"
            image: *cron_image
            dockerfile: *cron_dockerfile
          - container: "runner"
            image: *runner_image
            dockerfile: *runner_dockerfile
          - container: "dummy-runner"
            image: *dummy-runner_image
            dockerfile: *dummy-runner_dockerfile
        exclude:
          - os: "ubuntu-24.04-arm"
            container: "runner"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Reclaim disk space for build
        uses: jlumbroso/free-disk-space@main

      - name: Prepare
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-24.04-arm" ]; then
            platform="linux/arm64"
          else
            platform="linux/amd64"
          fi
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata for ${{ matrix.container }} docker container
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ matrix.image }}

      - name: Build ${{ matrix.container }} docker image
        id: build
        uses: docker/build-push-action@v6
        with:
          file: ${{ matrix.dockerfile }}
          context: .
          push: true
          tags: ${{ matrix.image }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=registry,ref=${{ matrix.image }}:buildcache
          cache-to: type=registry,ref=${{ matrix.image }}:buildcache,mode=max

      - name: Export ${{ matrix.container }} digest
        run: |
          mkdir -p ${{ runner.temp }}/${{ matrix.container }}-digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/${{ matrix.container }}-digests/${digest#sha256:}"

      - name: Upload ${{ matrix.container }} digest
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.container }}-digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/${{ matrix.container }}-digests/*
          if-no-files-found: error
          retention-days: 1

  docker-push:
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: "ubuntu-24.04"
    needs:
      - docker-build
    steps:
      - name: Download backend digests
        uses: actions/download-artifact@v6
        with:
          path: ${{ runner.temp }}/backend-digests
          pattern: backend-digests-*
          merge-multiple: true

      - name: Download cron digests
        uses: actions/download-artifact@v6
        with:
          path: ${{ runner.temp }}/cron-digests
          pattern: cron-digests-*
          merge-multiple: true

      - name: Download runner digests
        uses: actions/download-artifact@v6
        with:
          path: ${{ runner.temp }}/runner-digests
          pattern: runner-digests-*
          merge-multiple: true

      - name: Download dummy runner digests
        uses: actions/download-artifact@v6
        with:
          path: ${{ runner.temp }}/dummy-runner-digests
          pattern: dummy-runner-digests-*
          merge-multiple: true

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata for backend docker container
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.BACKEND_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push backend
        working-directory: ${{ runner.temp }}/backend-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.BACKEND_IMAGE }}@sha256:%s ' *)

      - name: Metadata for cron docker container
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.CRON_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push cron
        working-directory: ${{ runner.temp }}/cron-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.CRON_IMAGE }}@sha256:%s ' *)

      - name: Metadata for runner docker container
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.RUNNER_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push runner
        working-directory: ${{ runner.temp }}/runner-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.RUNNER_IMAGE }}@sha256:%s ' *)

      - name: Metadata for dummy runner docker container
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DUMMY_RUNNER_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push dummy runner
        working-directory: ${{ runner.temp }}/dummy-runner-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.DUMMY_RUNNER_IMAGE }}@sha256:%s ' *)
