name: "CI: system & integration tests, docker build"

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
      - dev
    tags:
      - "v*"
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
      - dev
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

env:
  BACKEND_IMAGE: 'ghcr.io/julianfp/project-w'
  CRON_IMAGE: 'ghcr.io/julianfp/project-w_cron'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        #test all components with the oldest and newest supported version
        postgres_version: [ "14", "17" ] #14 is minimal required version
        redis_version: [ "7.2", "8" ] #7.2 is minimal required version
        python_version: ["3.11", "3.13"] #3.11 is minimal required version

    outputs:
      frontend-branch-name: ${{ steps.branch-names.outputs.frontend-branch-name }}
      runner-branch-name: ${{ steps.branch-names.outputs.runner-branch-name }}

    services:
      postgres:
        image: postgres:${{ matrix.postgres_version }}
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test_db
        ports:
          - 5432:5432

      redis:
        image: redis:${{ matrix.redis_version }}
        ports:
          - 6379:6379

    steps:
      - name: Check which frontend & runner branches to use
        id: branch-names
        run: |
          if git ls-remote --exit-code --heads https://github.com/julianfp/project-w-frontend ${{ github.ref_name }}; then
            FRONTEND_BRANCH_NAME="${{ github.ref_name }}"
          else
            FRONTEND_BRANCH_NAME="main"
          fi
          echo "FRONTEND_BRANCH_NAME=${FRONTEND_BRANCH_NAME}" >> "$GITHUB_ENV"
          echo "frontend-branch-name=${FRONTEND_BRANCH_NAME}" >> "$GITHUB_OUTPUT"
          if git ls-remote --exit-code --heads https://github.com/julianfp/project-w-runner ${{ github.ref_name }}; then
            RUNNER_BRANCH_NAME="${{ github.ref_name }}"
          else
            RUNNER_BRANCH_NAME="main"
          fi
          echo "RUNNER_BRANCH_NAME=${RUNNER_BRANCH_NAME}" >> "$GITHUB_ENV"
          echo "runner-branch-name=${RUNNER_BRANCH_NAME}" >> "$GITHUB_OUTPUT"

      - name: Checkout backend repository
        uses: actions/checkout@v4
        with:
          path: backend
          fetch-depth: 0

      - name: Checkout frontend repository
        uses: actions/checkout@v4
        with:
          repository: julianfp/project-w-frontend
          ref: ${{ env.FRONTEND_BRANCH_NAME }}
          path: frontend
          fetch-depth: 0

      - name: Checkout runner repository
        uses: actions/checkout@v4
        with:
          repository: julianfp/project-w-runner
          ref: ${{ env.RUNNER_BRANCH_NAME }}
          path: runner
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install test requirements
        run: |
          python -m pip install -r backend/tests/requirements.txt

      - name: Setup SSL certificates
        run: |
          mkdir -p ./backend-config/certs
          openssl req -x509 -newkey rsa:4096 -sha256 -nodes -keyout ./backend-config/certs/key.pem -out ./backend-config/certs/cert.pem -subj '/CN=localhost'

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Project-W docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./backend/Dockerfile
          tags: project-w:latest

          #pull frontend from branch with the same name as backend is currently on:
          build-args: |
            PYTHON_VERSION: ${{ matrix.python_version }}
          push: false
          load: true
          cache-from: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache,mode=max

      - name: Build Project-W Runner docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./runner/Dockerfile.dummy
          tags: project-w_runner_dummy:latest
          push: false
          load: true
          cache-from: type=registry,ref=ghcr.io/julianfp/project-w_runner_dummy:buildcache
          cache-to: type=registry,ref=ghcr.io/julianfp/project-w_runner_dummy:buildcache,mode=max

      - name: Run test suite
        run: |
          python -m pytest --timeout=45 backend/tests/

  docker-build:
    #don't push docker image on a PR
    if: ${{ github.event_name != 'pull_request' }}
    #wait until testing has finished first so that we don't push a broken build
    #also then we can take advantage of the already cached build and don't need to build the image twice
    needs: build-and-test
    strategy:
      matrix:
        os: [ "ubuntu-24.04", "ubuntu-24.04-arm" ] #run on both x86 and arm
    runs-on: ${{ matrix.os }}
    steps:
      - name: Prepare
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-24.04-arm" ]; then
            platform="linux/arm64"
          else
            platform="linux/amd64"
          fi
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
      - name: Checkout backend repository
        uses: actions/checkout@v4
        with:
          path: backend
          fetch-depth: 0

      - name: Checkout frontend repository
        uses: actions/checkout@v4
        with:
          repository: julianfp/project-w-frontend
          ref: ${{needs.build-and-test.outputs.frontend-branch-name}}
          path: frontend
          fetch-depth: 0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata for backend docker container
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.BACKEND_IMAGE }}

      - name: Metadata for cron docker container
        id: meta-cron
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.CRON_IMAGE }}

      - name: Build & Push Project-W backend docker image
        id: build-backend
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./backend/Dockerfile
          push: true
          tags: ${{ env.BACKEND_IMAGE }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache,mode=max

      - name: Build & Push Project-W cron docker image
        id: build-cron
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./backend/Dockerfile.cron
          push: true
          tags: ${{ env.CRON_IMAGE }}
          labels: ${{ steps.meta-cron.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=registry,ref=${{ env.CRON_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.CRON_IMAGE }}:buildcache,mode=max

      - name: Export backend digest
        run: |
          mkdir -p ${{ runner.temp }}/backend-digests
          digest="${{ steps.build-backend.outputs.digest }}"
          touch "${{ runner.temp }}/backend-digests/${digest#sha256:}"

      - name: Export cron digest
        run: |
          mkdir -p ${{ runner.temp }}/cron-digests
          digest="${{ steps.build-cron.outputs.digest }}"
          touch "${{ runner.temp }}/cron-digests/${digest#sha256:}"

      - name: Upload backend digest
        uses: actions/upload-artifact@v4
        with:
          name: backend-digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/backend-digests/*
          if-no-files-found: error
          retention-days: 1

      - name: Upload cron digest
        uses: actions/upload-artifact@v4
        with:
          name: cron-digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/cron-digests/*
          if-no-files-found: error
          retention-days: 1

  docker-push:
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: "ubuntu-24.04"
    needs:
      - docker-build
    steps:
      - name: Download backend digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/backend-digests
          pattern: backend-digests-*
          merge-multiple: true

      - name: Download cron digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/cron-digests
          pattern: cron-digests-*
          merge-multiple: true

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata for backend docker container
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.BACKEND_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push backend
        working-directory: ${{ runner.temp }}/backend-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.BACKEND_IMAGE }}@sha256:%s ' *)

      - name: Metadata for cron docker container
        id: meta-cron
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.CRON_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push cron
        working-directory: ${{ runner.temp }}/cron-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.CRON_IMAGE }}@sha256:%s ' *)
