name: "CI: system & integration tests, docker build"

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - "*"
    tags:
      - "v*"
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - "*"
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

env:
  BACKEND_IMAGE: 'ghcr.io/julianfp/project-w'
  CRON_IMAGE: 'ghcr.io/julianfp/project-w_cron'
  RUNNER_IMAGE: 'ghcr.io/julianfp/project-w_runner'
  DUMMY_RUNNER_IMAGE: 'ghcr.io/julianfp/project-w_runner_dummy'

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        #test all components with the oldest and newest supported version
        postgres_version: [ "14", "17" ] #14 is minimal required version
        redis_version: [ "7.2", "8" ] #7.2 is minimal required version
        python_version: ["3.11", "3.13"] #3.11 is minimal required version

    services:
      postgres:
        image: postgres:${{ matrix.postgres_version }}
        env:
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test
          POSTGRES_DB: test_db
        ports:
          - 5432:5432

      redis:
        image: redis:${{ matrix.redis_version }}
        ports:
          - 6379:6379

    steps:
      - name: Checkout backend repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python_version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}

      - name: Install test requirements
        run: |
          python -m pip install -r tests/requirements.txt

      - name: Setup SSL certificates
        run: |
          mkdir -p ./backend-config/certs
          openssl req -x509 -newkey rsa:4096 -sha256 -nodes -keyout ./backend-config/certs/key.pem -out ./backend-config/certs/cert.pem -subj '/CN=localhost'

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Project-W backend docker image
        uses: docker/build-push-action@v6
        with:
          file: backend.Dockerfile
          tags: project-w:latest

          #pull frontend from branch with the same name as backend is currently on:
          build-args: |
            PYTHON_VERSION: ${{ matrix.python_version }}
          push: false
          load: true
          cache-from: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache,mode=max

      - name: Build Project-W dummy runner docker image
        uses: docker/build-push-action@v6
        with:
          file: runner_dummy.Dockerfile
          tags: project-w_runner_dummy:latest
          push: false
          load: true
          cache-from: type=registry,ref=ghcr.io/julianfp/project-w_runner_dummy:buildcache
          cache-to: type=registry,ref=ghcr.io/julianfp/project-w_runner_dummy:buildcache,mode=max

      - name: Run test suite
        run: |
          python -m pytest --timeout=45 tests/

  docker-build:
    #don't push docker image on a PR
    if: ${{ github.event_name != 'pull_request' }}
    #wait until testing has finished first so that we don't push a broken build
    #also then we can take advantage of the already cached build and don't need to build the image twice
    needs: build-and-test
    strategy:
      matrix:
        os: [ "ubuntu-24.04", "ubuntu-24.04-arm" ] #run on both x86 and arm
    runs-on: ${{ matrix.os }}
    steps:
      - name: Prepare
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-24.04-arm" ]; then
            platform="linux/arm64"
          else
            platform="linux/amd64"
          fi
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata for backend docker container
        id: meta-backend
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.BACKEND_IMAGE }}

      - name: Metadata for cron docker container
        id: meta-cron
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.CRON_IMAGE }}

      - name: Metadata for runner docker container
        id: meta-runner
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.RUNNER_IMAGE }}

      - name: Metadata for dummy runner docker container
        id: meta-dummy-runner
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.DUMMY_RUNNER_IMAGE }}

      - name: Build & Push Project-W backend docker image
        id: build-backend
        uses: docker/build-push-action@v6
        with:
          file: backend.Dockerfile
          push: true
          tags: ${{ env.BACKEND_IMAGE }}
          labels: ${{ steps.meta-backend.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.BACKEND_IMAGE }}:buildcache,mode=max

      - name: Build & Push Project-W cron docker image
        id: build-cron
        uses: docker/build-push-action@v6
        with:
          file: cron.Dockerfile
          push: true
          tags: ${{ env.CRON_IMAGE }}
          labels: ${{ steps.meta-cron.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=registry,ref=${{ env.CRON_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.CRON_IMAGE }}:buildcache,mode=max

      - name: Build & Push Project-W runner docker image
        id: build-runner
        uses: docker/build-push-action@v6
        if: ${{ matrix.os == 'ubuntu-24.04' }} #currently only compatible with x86_64 due to cuda dependencies
        with:
          file: runner.Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.RUNNER_IMAGE }}
          labels: ${{ steps.meta-runner.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=registry,ref=${{ env.RUNNER_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.RUNNER_IMAGE }}:buildcache,mode=max

      - name: Build & Push Project-W dummy runner docker image
        id: build-dummy
        uses: docker/build-push-action@v6
        with:
          file: runner_dummy.Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.DUMMY_RUNNER_IMAGE }}
          labels: ${{ steps.meta-dummy-runner.outputs.labels }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          cache-from: type=registry,ref=${{ env.DUMMY_RUNNER_IMAGE }}:buildcache
          cache-to: type=registry,ref=${{ env.DUMMY_RUNNER_IMAGE }}:buildcache,mode=max

      - name: Export runner digest
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        run: |
          mkdir -p ${{ runner.temp }}/runner-digests
          digest="${{ steps.build-runner.outputs.digest }}"
          touch "${{ runner.temp }}/runner-digests/${digest#sha256:}"

      - name: Export dummy runner digest
        run: |
          mkdir -p ${{ runner.temp }}/dummy-runner-digests
          digest="${{ steps.build-dummy-runner.outputs.digest }}"
          touch "${{ runner.temp }}/dummy-runner-digests/${digest#sha256:}"

      - name: Export backend digest
        run: |
          mkdir -p ${{ runner.temp }}/backend-digests
          digest="${{ steps.build-backend.outputs.digest }}"
          touch "${{ runner.temp }}/backend-digests/${digest#sha256:}"

      - name: Export cron digest
        run: |
          mkdir -p ${{ runner.temp }}/cron-digests
          digest="${{ steps.build-cron.outputs.digest }}"
          touch "${{ runner.temp }}/cron-digests/${digest#sha256:}"

      - name: Upload backend digest
        uses: actions/upload-artifact@v4
        with:
          name: backend-digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/backend-digests/*
          if-no-files-found: error
          retention-days: 1

      - name: Upload cron digest
        uses: actions/upload-artifact@v4
        with:
          name: cron-digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/cron-digests/*
          if-no-files-found: error
          retention-days: 1

      - name: Upload runner digest
        if: ${{ matrix.os == 'ubuntu-24.04' }}
        uses: actions/upload-artifact@v4
        with:
          name: runner-digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/runner-digests/*
          if-no-files-found: error
          retention-days: 1

      - name: Upload dummy runner digest
        uses: actions/upload-artifact@v4
        with:
          name: dummy-runner-digests-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/dummy-runner-digests/*
          if-no-files-found: error
          retention-days: 1

  docker-push:
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: "ubuntu-24.04"
    needs:
      - docker-build
    steps:
      - name: Download backend digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/backend-digests
          pattern: backend-digests-*
          merge-multiple: true

      - name: Download cron digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/cron-digests
          pattern: cron-digests-*
          merge-multiple: true

      - name: Download runner digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/runner-digests
          pattern: runner-digests-*
          merge-multiple: true

      - name: Download dummy runner digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/dummy-runner-digests
          pattern: dummy-runner-digests-*
          merge-multiple: true

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login with ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Metadata for backend docker container
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.BACKEND_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push backend
        working-directory: ${{ runner.temp }}/backend-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.BACKEND_IMAGE }}@sha256:%s ' *)

      - name: Metadata for cron docker container
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.CRON_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push cron
        working-directory: ${{ runner.temp }}/cron-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.CRON_IMAGE }}@sha256:%s ' *)

      - name: Metadata for runner docker container
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.RUNNER_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push runner
        working-directory: ${{ runner.temp }}/runner-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.RUNNER_IMAGE }}@sha256:%s ' *)

      - name: Metadata for dummy runner docker container
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.DUMMY_RUNNER_IMAGE }}
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Create manifest list and push dummy runner
        working-directory: ${{ runner.temp }}/dummy-runner-digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.DUMMY_RUNNER_IMAGE }}@sha256:%s ' *)
